@import "reset.css";

body{ background-color:#e74c3c;
    }

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.col3{
    color: #C5DA6B;
    margin: 0 auto;
    float: left;
    text-align: center;
    width: 26%;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
 border: 2px solid rgba(0,0,0,0);}



.col3:hover{ border: 2px solid white;}
.l1{
    background-color: #AD0054;
}

.l2{
    background-color: #828483;
}
.l3{
    background-color: #2D7D7A;
}

img{
    display: block;
    text-align: center;
    border: solid 2px #C5DA6B;
    border-radius: 15px;
    margin: 0 auto;
    width: 80%;
    height: 170px;
}

@media (min-width:1400px) {
    body {
        width: 70%;
        margin: 30px auto;
        background-color: #e74c3c;}
        h1::after{ content: " 1400px";}
        h1{
            font-size: 6em;
        }
}

@media (min-width:1200px)and (max-width: 1400px) {
    body {
        background-color: aquamarine;}
    h1::after{ content: " 1200px";}  }

@media (min-width:800px)and (max-width: 1200px) {
    body {
        background-color: #5f9bff;}
    h1::after{ content: " 800px";}
    h1{font-size:3em}
}

@media (min-width:600px)and (max-width: 800px) {
    body {
        background-color: #c80060;}
    h1::after{ content: " 600px";}
    .l1{background-color: #172938 }
    .col3{width: 50%;
    float: none;
        margin: 15px auto;
        padding-top: 15px;
    }
}



@media (max-width:500px){
    .container{
        display: none;
    }
    body::after{
        content: "PLEASE ENLARGE YOUR BROWSER!";
        font-size: 6em;
        color: yellow;

    }

}











































